<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        
        <p id="datumTreffen"></p>
        <!-- <script src="/js/ErsterMittwochImMonat.js"></script> 
        <script src="https://freeshell.de/~lughvr/termin.js"></script>
        -->
        Der nächste Termin ist am <iframe src="https://freeshell.de/~lughvr/pub/lugh.php/txt" width="120" height="30" style="border:0px;"></iframe>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
