<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        
        <p class="lughdate"><em>Sollte hier kein Termin oder nur Kauderwelsch stehen, dann klick bitte auf den Einladungslink!<br></em> 
        <font color="white">
        <span class="termin">N&auml;chstes Treffen:</span> <strong>Mittwoch, den 
        <span class='day'><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b></span>.
        <span class='month'><b>Januar</b><b>Februar</b><b>M&auml;rz</b><b>April</b><b>Mai</b><b>Juni</b><b>Juli</b><b>August</b><b>September</b><b>Oktober</b><b>November</b><b>Dezember</b></span>
        20<span class='decade'><b>0</b><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b>9</b></span><span class='year'><b>0</b><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b>9</b></span>, 19 Uhr.</strong>
        </font></p>
        
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
